body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.navbar-brand .logo {
    height: 50px;
}

.header {
    background: url('\static\media\bg1.1980a563b61351a66710 (4).jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 100px 0;
}

.header h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    margin-bottom: 20px;
}

.header p {
    font-size: 1.25rem;
    margin-bottom: 40px;
}

.cta-buttons .btn {
    margin: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 1.5rem;
    margin: 0 10px;
}

.main-content {
    padding: 50px 0;
}

.main-content .img-fluid {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.secure-section p {
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 20px;
}

.three-dot-menu {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.three-dot-menu::before, .three-dot-menu::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #000;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.three-dot-menu::before {
    top: 25%;
}

.three-dot-menu::after {
    top: 75%;
}

.three-dot-menu::before {
    top: 50%;
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 2.5rem;
    }

    .header p {
        font-size: 1rem;
    }
}
